@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

$primaryBlue: #0b426f;
$primaryYellow: #ffb800;
$primaryOrange: #c64a23;
$primaryGreen: #1bc6a2;
$primaryWhite: #ffffff;
$primaryGray: #9A9A9A;

// Fonts
$primaryFontFamily: "Manrope", sans-serif;

$primaryFontWeight: 700;
$secondaryFontWeight: 600;

// Text size
$fontSizeXs: 12px;
$fontSizeSm: 14px;
$fontSizeMd: 16px;
$fontSizeLg: 18px;
$fontSizeXl: 20px;

// Display size
$fontSizeDisplayXs: 24px;
$fontSizeDisplaySm: 30px;
$fontSizeDisplayMd: 36px;
$fontSizeDisplayLg: 48px;
$fontSizeDisplayXl: 60px;
$fontSizeDisplay2Xl: 72px;

// Weight
$fontWeightRegular: 500;
$fontWeightMedium: 400;
$fontWeightSemibold: 600;
$fontWeightBold: 700;